.selector {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
}

.selector button {
  height: 2rem;
  width: 8rem;
  color: #000;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.selector button:hover {
  opacity: 0.9;
}
