.section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #77d4f2;
  background-color: #202124;
  border-bottom: 1px solid #000;
  box-shadow: 2px 2px 6px #000;
  min-width: 1260px;
  height: 360px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  grid-template-areas:
    '. h1 .'
    '. h2 .'
    'wally odlaw wizzard';
  height: 270px;
}

.container h1 {
  grid-area: h1;
}

.container h2 {
  grid-area: h2;
  color: white;
  margin: 0.6rem;
}

@media only screen and (max-width: 520px) {
  .section {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .container {
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-areas:
      'h1 h1 h1'
      '. h2  .'
      'wally odlaw wizzard';
    margin: 1.6rem;
  }
}
