body,
html {
  min-height: 100vh;
  overflow: auto;
}

body {
  margin: 0;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  background-color: #3e3e3e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
